@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*{
    box-sizing: border-box;    
}
#container {
    max-width: 960px;
    border-radius: 1em;
    position: relative;
    margin: 0 auto;
    background-color: darkgoldenrod;
    font-family:'Space Mono', monospace; ;
}
header{
    text-align: center;
    padding-top: 5px;
    color:white
}
h1{
    font-size: 30px;
    text-align: center;
    

}
.gameContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 250px;
    margin: 0 auto;
    gap: 5px;   
}
.box {
    width: 80px;
    height: 80px;
    border: 5px solid white;
    border-radius: 0.3em;
    line-height: 80px;
    text-align: center;
    font-size: 40px;
}
footer {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
/* .X{
    background-image: url();
} */
#reset {
    font-size: 15px;
    background-color: indigo;
    color: white;
    border: indigo;
    border-radius: 1em;
    width: 120px;
    height: 40px; 
}
#result{
    font-size: 30px;
    color:yellow;
}
strong{
    font-size: 30px;
}